@page "/shortcuts"
@inject IKeyboardShortcutService ShortcutService

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-4">
    <MudText Typo="Typo.h4" Class="mb-4">⌨️ Keyboard Shortcuts</MudText>
    
    <MudText Typo="Typo.body1" Class="mb-6" Color="Color.Secondary">
        Use keyboard shortcuts to navigate and work faster in HolyConnect. Most shortcuts work globally throughout the application.
    </MudText>
    
    <MudGrid>
        <MudItem xs="12" md="6">
            <MudPaper Elevation="2" Class="pa-4 mb-4">
                <MudText Typo="Typo.h6" Class="mb-3">
                    <MudIcon Icon="@Icons.Material.Filled.Search" Class="mr-2" />
                    Navigation
                </MudText>
                <MudSimpleTable Dense="true" Hover="true">
                    <tbody>
                        <tr>
                            <td style="width: 40%;">
                                <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined">Ctrl+K</MudChip>
                            </td>
                            <td>Open global search</td>
                        </tr>
                        <tr>
                            <td>
                                <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined">Ctrl+H</MudChip>
                            </td>
                            <td>Go to home page</td>
                        </tr>
                        <tr>
                            <td>
                                <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined">Ctrl+E</MudChip>
                            </td>
                            <td>Go to environments</td>
                        </tr>
                        <tr>
                            <td>
                                <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined">Ctrl+G</MudChip>
                            </td>
                            <td>Go to Git management</td>
                        </tr>
                        <tr>
                            <td>
                                <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined">Ctrl+Shift+H</MudChip>
                            </td>
                            <td>Go to request history</td>
                        </tr>
                        <tr>
                            <td>
                                <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined">Ctrl+Shift+I</MudChip>
                            </td>
                            <td>Go to import page</td>
                        </tr>
                        <tr>
                            <td>
                                <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined">Ctrl+Shift+F</MudChip>
                            </td>
                            <td>Go to flows</td>
                        </tr>
                        <tr>
                            <td>
                                <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined">Ctrl+,</MudChip>
                            </td>
                            <td>Go to settings</td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </MudPaper>
        </MudItem>
        
        <MudItem xs="12" md="6">
            <MudPaper Elevation="2" Class="pa-4 mb-4">
                <MudText Typo="Typo.h6" Class="mb-3">
                    <MudIcon Icon="@Icons.Material.Filled.AddCircle" Class="mr-2" />
                    Quick Actions
                </MudText>
                <MudSimpleTable Dense="true" Hover="true">
                    <tbody>
                        <tr>
                            <td style="width: 40%;">
                                <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined">Ctrl+N</MudChip>
                            </td>
                            <td>Create new request</td>
                        </tr>
                        <tr>
                            <td>
                                <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined">Ctrl+Shift+N</MudChip>
                            </td>
                            <td>Create new collection</td>
                        </tr>
                        <tr>
                            <td>
                                <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined">Ctrl+Shift+E</MudChip>
                            </td>
                            <td>Create new environment</td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </MudPaper>
            
            <MudPaper Elevation="2" Class="pa-4 mb-4">
                <MudText Typo="Typo.h6" Class="mb-3">
                    <MudIcon Icon="@Icons.Material.Filled.Help" Class="mr-2" />
                    Help
                </MudText>
                <MudSimpleTable Dense="true" Hover="true">
                    <tbody>
                        <tr>
                            <td style="width: 40%;">
                                <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined">?</MudChip>
                            </td>
                            <td>Show keyboard shortcuts</td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </MudPaper>
        </MudItem>
    </MudGrid>
    
    <MudAlert Severity="Severity.Info" Class="mt-4">
        <MudText Typo="Typo.body2">
            <strong>Note for Mac users:</strong> Use <kbd>Cmd</kbd> instead of <kbd>Ctrl</kbd> for all shortcuts.
        </MudText>
    </MudAlert>
    
    <MudAlert Severity="Severity.Success" Class="mt-2">
        <MudText Typo="Typo.body2">
            <strong>Tip:</strong> Press <MudChip T="string" Size="Size.Small" Variant="Variant.Outlined">?</MudChip> from anywhere in the app to see this shortcuts reference!
        </MudText>
    </MudAlert>
</MudContainer>

@code {
    // This page displays static shortcut documentation
    // The actual shortcuts are registered in MainLayout
}
